<div class="mt-4">
  <h1 class="text-center">Profile page</h1>
</div>
<p class="text-center">Hello <%= @user.username %> </p>
<p class="text-center"><%= link_to 'Edit Profile', edit_user_registration_path, class: 'btn btn-secondary' %> </p>
