<h2>Your Journal Entries</h2>
<%= link_to 'Create New Entry', new_journal_path, class: "btn btn-secondary m-4"  %>
<% if @journals.any? %>
  <div class="row">
    <% @journals.each do |journal| %>
      <div class="card" style="width: 100%;">
        <div class="card-body">
          <h5 class="card-title"><%= journal.title %></h5>
          <p class="card-text"><%= journal.body %></p>
          <div class="mt-2">
            <%= link_to "Show", journal_path(journal), class: "btn btn-secondary m-2" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No journal entries yet.</p>
<% end %>
