.card {
    margin-bottom: 40px !important;
}

.custom_link {
    text-decoration: none;
    color: black;
}

.notification-container {
    position: fixed; /* Change position to fixed */
    bottom: 0;          /* Align to the top of the viewport */
    left: 50%;       /* Center horizontally */
    transform: translateX(-50%); /* Center the element */
    width: 70%;     /* Full width */
    z-index: 1050;   /* Ensure it appears on top of other elements */
  }

.text-center {
    margin-bottom: 30px;
}

@media (orientation: portrait) {
    .mb-5 {
      margin: 0 !important;
    }
  }
